---
layout: home
update: 2025-01-27
---

<img class="top" style="display:block;max-width:800px;margin:0 auto;" src="./assets/img/Enbu_20251019_01.jpg" />

<p>
私達は市民の皆さんに合気道を紹介し、健康増進に寄与することを目標として、八王子市立みなみ野中学校の武道場で土曜の夜に合気道の稽古をしています。
</p>
<p>教室の目的や合気道について知りたい方は「{% include link.html path="about.md" %}」を、
入会を検討されているかたは「{% include link.html path="getting_started.md" %}」を、
稽古予定については「{% include link.html path="calendar.md" %}」を御覧ください。</p>

<!--  <li>稽古日程などは<a href="https://twitter.com/AikidoMinamino">Twitter</a> / <a href="{% post_url 2017-11-26-google-calendar %}">Google Calendar</a>で配信しています。</li>-->
<p>
We are practicing Aikido on Saturday evening at Minamino Jr. High School in Hachioji.<br />
Please use <a href="https://translate.google.com/translate?hl=&sl=ja&tl=en&u=https%3A%2F%2Fminamino-aikido.github.io">google translate</a> to get information in your language.
</p>
<!-- vim: set sts=2 sw=2 expandtab: -->
