---
layout: page
title: おすすめの道着
image: https://hbb.afl.rakuten.co.jp/hgb/1ee40173.5e0d8bb1.1ee40174.f69272c5/?me_id=1205150&item_id=10004808&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fchamp%2Fcabinet%2Fjudo%2Fzyudogi%2Fimgrc0066277600.jpg%3F_ex%3D240x240&s=240x240&t=pict
---
<div class="info">このページの画像は楽天アフィリエイトになっています。</div>

<p>合気道教室の方向けには、八王子市の中学校に納入されている柔道着と同等のものに、ネーム刺繍を行ったものを実費（5,000円前後）で販売していますが、道着の取次をする手間がかかり、納入に時間がかかるため、オンラインでの購入もご検討いただくと助かります。</p>
<p>参考として、楽天で購入可能なおすすめの道着を記載しておきます。</p>
<p>下記のものを購入の際は、基本的に、左胸に名前の刺繍を入れることを推奨します。</p>
<p class="info">サイズの考え方などは <a href="#size">このページの最後</a> に記載しています。</p>

<h2>【おすすめ！】初心者向け柔道着</h2>

<p>柔道着としては以下の商品が混紡のため乾きが早く柔らかい上に、値段も非常にお手頃でおすすめです。
</p>

<table>
  <tr>
    <td>
      <figure>
        <a href="https://hb.afl.rakuten.co.jp/ichiba/1ee40173.5e0d8bb1.1ee40174.f69272c5/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fchamp%2F10004808%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MSwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"><img src="https://hbb.afl.rakuten.co.jp/hgb/1ee40173.5e0d8bb1.1ee40174.f69272c5/?me_id=1205150&item_id=10004808&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fchamp%2Fcabinet%2Fjudo%2Fzyudogi%2Fimgrc0066277600.jpg%3F_ex%3D240x240&s=240x240&t=pict" border="0" style="margin:2px" alt="" title=""></a>
        <figcaption><a href="https://hb.afl.rakuten.co.jp/ichiba/1ee40173.5e0d8bb1.1ee40174.f69272c5/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fchamp%2F10004808%2F&link_type=text&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJ0ZXh0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MSwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;">東山堂 P/C柔道着3点セット（道衣・パンツ・帯）</a></figcaption>
      </figure>
    </td>
    <td><div class="memo">正直なところ連盟の扱っている道着よりもこれらの商品のほうが優秀です。</div></td>
  </tr>
  <tr>
    <td>
      <figure>
        <a href="https://hb.afl.rakuten.co.jp/ichiba/444bb553.7cb8d90d.444bb554.7056a803/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fkirinya-webshop%2F0201-jkw23%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"><img src="https://hbb.afl.rakuten.co.jp/hgb/444bb553.7cb8d90d.444bb554.7056a803/?me_id=1249053&item_id=10012857&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fkirinya-webshop%2Fcabinet%2F01373681%2F06597903%2F201-jkw23-a.jpg%3F_ex%3D240x240&s=240x240&t=pict" border="0" style="margin:2px" alt="" title=""></a>
        <figcaption><a href="https://hb.afl.rakuten.co.jp/ichiba/444bb553.7cb8d90d.444bb554.7056a803/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fkirinya-webshop%2F0201-jkw23%2F&link_type=text&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJ0ZXh0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;">九桜 P/C柔道着3点セット(道衣・パンツ・帯) </a></figcaption>
      </figure>
    </td>
    <td><div class="memo">上の商品より少しだけ高めですが、老舗道着メーカーの商品です。</div></td>
  </tr>
  <tr>
    <td>
      <figure>
        <a href="https://hb.afl.rakuten.co.jp/ichiba/37a5738c.71d6736e.37a5738d.334f53a4/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fkyoeisp%2Fjws%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MSwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"><img src="https://hbb.afl.rakuten.co.jp/hgb/37a5738c.71d6736e.37a5738d.334f53a4/?me_id=1209169&item_id=10029176&pc=https%3A%2F%2Fimage.rakuten.co.jp%2Fkyoeisp%2Fcabinet%2F00033383%2Fjuou_1_3.jpg%3F_ex%3D240x240&s=240x240&t=pict" border="0" style="margin:2px" alt="" title=""></a>
        <figcaption><a href="https://hb.afl.rakuten.co.jp/ichiba/37a5738c.71d6736e.37a5738d.334f53a4/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fkyoeisp%2Fjws%2F&link_type=text&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJ0ZXh0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MSwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;">ヒロヤ (JWS-1～JWS-6) 柔道 柔王晒一重S スタンダード 3点セット</a></figcaption>
      </figure>
    </td>
    <td><div class="memo">安価ですが、サイズ情報が少なめです。</div></td>
  </tr>
</table>

<h2>【安価】初心者向け空手着【子供向け】</h2>

<p>空手着は一般に合気道着よりも薄手で強度が低いのですが、一週間に一度の頻度で初心者向けの稽古をする程度であれば問題にならないため、コストを抑えたい方にはこちらをおすすめします。
袖も短めなので合気道をするのであればこちらのほうが良いかもしれません。刺繍を入れると送料無料になり、道場で売っている道着よりも安く手に入ります。</p>
<p>どちらかというと着丈が短い場合が多いので、購入の際には適合身長よりも着丈に気をつけてください。</p>

<table>
  <tr>
    <td>
      <figure>
        <a href="https://hb.afl.rakuten.co.jp/ichiba/1ee40173.5e0d8bb1.1ee40174.f69272c5/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fchamp%2Fkarate_gi_223-pku200w%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"><img src="https://hbb.afl.rakuten.co.jp/hgb/1ee40173.5e0d8bb1.1ee40174.f69272c5/?me_id=1205150&item_id=10004413&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fchamp%2Fcabinet%2Fkarate%2Fimgrc0066277699.jpg%3F_ex%3D240x240&s=240x240&t=pict" border="0" style="margin:2px" alt="" title=""></a>
        <figcaption><a href="https://hb.afl.rakuten.co.jp/ichiba/1ee40173.5e0d8bb1.1ee40174.f69272c5/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fchamp%2Fkarate_gi_223-pku200w%2F&link_type=text&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJ0ZXh0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;">空手着3点セット【空手 空手道着 帯 セット】</a></figcaption>
      </figure>
    </td>
    <td><div class="memo">この商品は大人の方が使うには少し薄手すぎるかもしれません。どちらかというと子供向けにおすすめです。</div></td>
  </tr>
</table>

<h2>初心者向け合気道着</h2>

<p>合気道着には比較的値段が安めのセットもあります。空手着と比べると倍以上の価格になりますが、長く続ける方はこちらをおすすめします。</p>

<figure>
  <a href="https://hb.afl.rakuten.co.jp/ichiba/1ee40173.5e0d8bb1.1ee40174.f69272c5/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fchamp%2Faikido_gi_210-k100as%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"><img src="https://hbb.afl.rakuten.co.jp/hgb/1ee40173.5e0d8bb1.1ee40174.f69272c5/?me_id=1205150&item_id=10001825&pc=https%3A%2F%2Fimage.rakuten.co.jp%2Fchamp%2Fcabinet%2Faikido%2Faiki_set%2Fimgrc0062241014.jpg%3F_ex%3D240x240&s=240x240&t=pict" border="0" style="margin:2px" alt="" title=""></a>
  <figcaption><a href="https://hb.afl.rakuten.co.jp/ichiba/1ee40173.5e0d8bb1.1ee40174.f69272c5/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fchamp%2Faikido_gi_210-k100as%2F&link_type=text&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJ0ZXh0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;">東山堂 AG60W 晒合気道衣上下帯3点セット 綿100%</a></figcaption>
</figure>
<h2>合気道着（軽量なもの）</h2>

<p>予算に余裕がある大人の方には以下の道着が軽量かつ乾きが速く、サイズも0.5号刻みでバリエーションが多いのでおすすめです。指導者が普段使っているものと同等のものになります。</p>
<p>この商品は帯が別売りのため、ご注意ください。</p>

<figure>
  <a href="https://hb.afl.rakuten.co.jp/ichiba/1ee40173.5e0d8bb1.1ee40174.f69272c5/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fchamp%2Fset711%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"><img src="https://hbb.afl.rakuten.co.jp/hgb/1ee40173.5e0d8bb1.1ee40174.f69272c5/?me_id=1205150&item_id=10004370&pc=https%3A%2F%2Fimage.rakuten.co.jp%2Fchamp%2Fcabinet%2Faikido%2Faiki_set%2Fimgrc0062777191.jpg%3F_ex%3D240x240&s=240x240&t=pict" border="0" style="margin:2px" alt="" title=""></a>
  <figcaption>
	<a href="https://hb.afl.rakuten.co.jp/ichiba/1ee40173.5e0d8bb1.1ee40174.f69272c5/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fchamp%2Fset711%2F&link_type=text&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJ0ZXh0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;">最高級抗菌防臭加工 合気道衣「蓬（よもぎ）」上下セット</a>
  </figcaption>
</figure>

<h2 id="size">サイズの選び方</h2>

<p>道着のサイズの号数は、メーカーによりまちまちです。</p>
<p>合気道の場合、主に上着の「着丈」で選んでいただくことをおすすめします。</p>
<p>袖や裾は長すぎる場合には捲ったり、縮めたりすることが可能ですが、着丈が短すぎる場合は調整がほぼ不可能です。</p>
<p>また、購入の際には道着は洗濯をすると少し縮むことを考慮してください。</p>

<h3>着丈とは？</h3>
<p>下図の A で示されているように肩の高さから、上着の端までのサイズを一般的に「着丈」といいます。</p>
<figure><img src="/assets/img/kitake.png"></figure>
<p class="info">メーカーにより定義が異なる場合がありますので、メーカーのサイズ表もご確認ください</p>
<p>合気道の場合、できるだけ着丈が尻をすべてカバーするサイズのものを購入してください。それより短いと正しい位置（腰骨の高さ）に帯を締めた際に、帯の下に出る道着の長さ（図の B の長さ）が不足して着崩れます。</p>
<p>安価な道着の場合、着丈のサイズが記載されていないものがありますので、そういう場合は他の人の持っている道着サイズを見て、同じものを購入するというのも良い方法です。</p>
首の付け根か尻と足の境目くらいまでの長さを測って、その長さを基準にするとよいでしょう。</p>

<h2>関連記事</h2>
<ul>
  <li>{% include link.html path="2017-04-09-wear-02.html" %}</li>
  <li>{% include link.html path="2018-01-28-Tabi.html" %}</li>
  <li>{% include link.html path="2021-05-15-how-to-tie-obi.md" %}</li>
  <li>{% include link.html path="2023-12-04-tabi-for-children.md" %}</li>
  <li>{% include link.html path="2023-12-10-5-finger-socks.md" %}</li>
</ul>
