---
layout: page
---
<h2><a href="{{'/index.html'|relative_url}}">トップページ</a></h2>

<h2>ページ一覧</h2>

<ul>
  {% assign paths = site.pages | map: "path" %}
  {% for path in paths %}
  {%  assign my_page = site.pages | where: "path", path | first %}
  {%  if my_page.title %}
  <li><a href="{{my_page.url|relative_url}}">{{my_page.title|escape}}</a></li>
  {%  endif %}
  {% endfor %}
</ul>

<h2>お知らせ / コラム</h2>

<ul>
  {% for post in site.posts %}
  <li><a href="{{post.url|relative_url}}">{{post.title|escape}}</a></li>
  {% endfor %}
</ul>
