<div class="advertise">
  <div>
  <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=240&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=minamino.aikido%40gmail.com&amp;color=%231B887A&amp;ctz=Asia%2FTokyo" style="border-width:0" width="248" height="240" frameborder="0" scrolling="no"></iframe>
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=F7F7F7&IS2=1&bg1=F7F7F7&fc1=000000&lc1=0000FF&t=gachin-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B01BLA9QRU&linkId=03a9de537bfe7813cb06917a93e674ac"></iframe>
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=F7F7F7&IS2=1&bg1=F7F7F7&fc1=000000&lc1=0000FF&t=gachin-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=4522426887&linkId=a81bcb0f7572b5d7dee8306f0c29f832"></iframe>
  </div>
  {% if site.adsense_client_id %}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{site.adsense_client_id}}" crossorigin="anonymous"></script>
<!-- Test01-Yoko -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="{{site.adsense_client_id}}"
       data-ad-slot="1057735455"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  {% endif %}
</div>
