<div class="advertise">
  {% if site.adsense_client_id %}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{site.adsense_client_id}}" crossorigin="anonymous"></script>
  <!-- Test01-Yoko -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="{{site.adsense_client_id}}"
       data-ad-slot="1057735455"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  {% endif %}
</div>
