/* please add additional style, if you need */
$icon-info-666: url("data:image/svg+xml,<svg style='fill:%23666' version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' xml:space='preserve'><g>%09<path class='st0' d='M256,0C114.612,0,0,114.612,0,256s114.612,256,256,256s256-114.612,256-256S397.388,0,256,0z M250.669,88.462%09%09c26.504,0,47.998,21.482,47.998,48.01c0,26.496-21.494,47.994-47.998,47.994c-26.513,0-48.006-21.498-48.006-47.994%09%09C202.662,109.944,224.156,88.462,250.669,88.462z M315.554,428c0,3.343-2.709,6.044-6.048,6.044h-103.3%09%09c-3.339,0-6.044-2.7-6.044-6.044v-26.372c0-3.343,2.705-6.052,6.044-6.052h12.808c6.678,0,12.096-5.418,12.096-12.095V277.72%09%09c0,0-26.612,2.61-35.55,2.98c-8.937,0.363-20.452-13.964,3.549-25.96l82.484-45.836c1.96-1.038,4.327-0.988,6.225,0.164%09%09c1.906,1.152,3.067,3.211,3.067,5.434v168.979c0,6.677,5.418,12.095,12.091,12.095h6.529c3.339,0,6.048,2.709,6.048,6.052V428z'></path></g></svg>");
$icon-warning-yellow: url("data:image/svg+xml,<svg style='fill:%23f7a535' version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' xml:space='preserve'><g>%09<path class='st0' d='M505.095,407.125L300.77,53.208c-9.206-15.944-26.361-25.849-44.774-25.849%09%09c-18.412,0-35.552,9.905-44.751,25.849L6.905,407.109c-9.206,15.944-9.206,35.746,0,51.69%09%09c9.206,15.944,26.354,25.842,44.758,25.842h408.674c18.405,0,35.568-9.897,44.759-25.842%09%09C514.302,442.855,514.302,423.053,505.095,407.125z M256.004,426.437c-17.668,0-32.013-14.33-32.013-32.004%09%09c0-17.668,14.345-31.997,32.013-31.997c17.667,0,31.997,14.329,31.997,31.997C288.001,412.108,273.671,426.437,256.004,426.437z%09%09 M275.72,324.011c0,10.89-8.834,19.709-19.716,19.709c-10.898,0-19.717-8.818-19.717-19.709l-12.296-144.724%09%09c0-17.676,14.345-32.005,32.013-32.005c17.667,0,31.997,14.33,31.997,32.005L275.72,324.011z'></path></g></svg>");
$icon-memo-AAA: url("data:image/svg+xml,<svg style='fill:%23AAA' version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' xml:space='preserve'><g>%09<path class='st0' d='M214.873,94.854c11.817,0,21.404-9.579,21.404-21.404V21.405C236.278,9.588,226.69,0,214.873,0%09%09c-11.826,0-21.405,9.588-21.405,21.405v52.044C193.469,85.275,203.048,94.854,214.873,94.854z'></path>%09<path class='st0' d='M132.611,94.854c11.817,0,21.404-9.579,21.404-21.404V21.405C154.015,9.588,144.428,0,132.611,0%09%09c-11.826,0-21.405,9.588-21.405,21.405v52.044C111.206,85.275,120.785,94.854,132.611,94.854z'></path>%09<path class='st0' d='M297.127,94.854c11.825,0,21.404-9.579,21.404-21.404V21.405C318.531,9.588,308.952,0,297.127,0%09%09c-11.817,0-21.405,9.588-21.405,21.405v52.044C275.722,85.275,285.31,94.854,297.127,94.854z'></path>%09<path class='st0' d='M379.389,94.854c11.825,0,21.404-9.579,21.404-21.404V21.405C400.794,9.588,391.215,0,379.389,0%09%09c-11.817,0-21.405,9.588-21.405,21.405v52.044C357.985,85.275,367.573,94.854,379.389,94.854z'></path>%09<path class='st0' d='M332.384,416.406v87.71l116.96-116.964h-87.71C345.487,387.178,332.414,400.251,332.384,416.406z'></path>%09<path class='st0' d='M421.945,24.34v49.11c0,23.462-19.089,42.56-42.555,42.56c-19.873,0-36.475-13.754-41.131-32.198%09%09c-4.656,18.444-21.258,32.198-41.131,32.198c-19.869,0-36.462-13.745-41.127-32.189c-4.665,18.444-21.258,32.189-41.127,32.189%09%09c-19.873,0-36.475-13.754-41.131-32.198c-4.656,18.444-21.258,32.198-41.131,32.198c-23.466,0-42.556-19.098-42.556-42.56V24.34%09%09H51.829v422.706c0,35.872,29.082,64.954,64.954,64.954h189.161v-95.594c0.009-30.769,24.929-55.684,55.689-55.693h98.538V24.34%09%09H421.945z M251.598,403.298h-120.45v-32.309h120.45V403.298z M380.852,315.166H131.148v-32.309h249.704V315.166z M380.852,227.034%09%09H131.148v-32.309h249.704V227.034z'></path></g></svg>");
$icon-right-666: url("data:image/svg+xml,<svg style='fill:%23666' version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' xml:space='preserve'><g>%09<path class='st0' d='M256,0C114.614,0,0,114.613,0,256s114.614,256,256,256c141.387,0,256-114.613,256-256S397.387,0,256,0z%09%09 M384.29,259.396L262.298,375.46c-11.79,11.226-30.435,10.767-41.653-1.032c-11.218-11.79-10.75-30.452,1.032-41.653l49.726-47.306%09%09H153.605c-16.282,0-29.467-13.186-29.467-29.468s13.186-29.46,29.467-29.46h117.799l-49.726-47.314%09%09c-11.782-11.193-12.25-29.863-1.032-41.644c11.218-11.798,29.863-12.267,41.653-1.032L384.29,252.605%09%09c0.928,0.887,1.452,2.113,1.452,3.395C385.742,257.282,385.218,258.508,384.29,259.396z'></path></g></svg>");

.info, .warning, .page-navi, #markdown-toc {
  background-size: 20px;
  background-position: left 10px top 14px;
  background-repeat: no-repeat;
  padding: 10px;
  border-radius: 10px;
  padding-left: 36px;
  margin: 15px 0;
}
.memo {
  background-size: 20px;
  background-position: left 0px top 4px;
  padding-left: 26px;
  background-repeat: no-repeat;
  background-image: $icon-memo-AAA;
  color: $grey-color;
}
.info {
  background-image: $icon-info-666;
  background-color: #EEE;
}
.warning {
  background-image: $icon-warning-yellow;
  background-color: #FFF5DD;
}
.page-navi, #markdown-toc {
  background-image: $icon-right-666;
  background-color: #EEE;
  word-break: keep-all;
}

blockquote {
  font-style: normal;
}

h1, h2, h3 {
  /* text-align: center; */
}

.site-title {
  word-break: keep-all;
}

a.button {
  display: block;
  min-width: fit-content;
  width: 50%;
  text-align: center;
  margin: 10px auto !important;
  background-color: $brand-color;
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
}

table.index {
  tr {
    &:nth-child(even) {
      background-color: inherit;
    }
  }
  a.button { width: 100%; white-space: nowrap; }
}

table {
  a.button { width: 100%; }
}
div.navi {
  p { text-align: center; }
}
.first {
  /* usually used with heading */
  margin-top: $spacing-unit / 2 !important;
}

/* style for {:toc} block */
#markdown-toc {
  ul {
    display: inline-block;
    margin: 0;
  }
  ul::before { content: " ( "; }
  ul::after { content: " ) "; }
  li {
    display: inline-block;
  }
  li::after { content: " | "; }
  li:last-child::after { content: none; }
}
