/**
 * Site header
 */

.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-header > .wrapper {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.site-title {
  @include relative-font-size(1.5);
  font-weight: 300;
  line-height: $title-line-height;
  letter-spacing: -1px;
  margin-top: $vspacing-unit;
  margin-bottom: $vspacing-unit;

  &,
  &:visited {
    color: $grey-color-dark;
  }
  @include media-query($on-palm) {
    padding-right: 36px;
  }
}

.site-nav {
  line-height: $title-line-height * $base-font-size * 1.5;
  margin-left: auto;
  text-align: right;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: inline-block;
    // Gaps between nav items, but not on the last one
    margin-left: 10px;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 11px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Home content
 */

.home-content-container {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home-content-with-tweet {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2) - #{$post-list-item-width});
}

.tweet-block {
  width: $post-list-item-width;
  @include media-query($on-2row) {
    width: auto;
  }
}

.tweet-block > * {
  display: block;
  margin: 0 auto;
}

img.top {
  width: 100%;
}

nav.pagination {
  clear: both;
  text-align: center;
}

/**
 * Page content
 */
.page-content {
  padding: $vspacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(1.5);
}

.post-list-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.post-meta {
  font-size: $small-font-size;
  background-color: rgba(255,255,255,0.8);
  color: $grey-color;
}

.post-link {
  display: block;
  background-color: rgba(255,255,255,0.8);
  bottom: 0;
  @include relative-font-size(1.2);
  margin-top: auto;
}

.post-list-item {
  width: calc(#{$post-list-item-width} - 10px);
  height: $post-list-item-height;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
  background-repeat: no-repeat;
  background-position: center;
  @include media-query($on-1row) {
    width: 100%;
  }
}

p > img, img[alt^="center"] {
  margin: $vspacing-unit auto;
}

img[alt^="right"] {
  margin: $vspacing-unit;
  float: right;
  @include media-query($on-palm) {
    margin: $vspacing-unit auto;
    float: none;
  }
}

img[alt^="left"] {
  margin: $vspacing-unit;
  float: left;
  @include media-query($on-palm) {
    margin: $vspacing-unit auto;
    float: none;
  }
}


/**
 * Posts
 */
.post {
  max-width: $post-width;
  margin: 0 auto;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: $title-line-height;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.5);
  }

  h3 {
    @include relative-font-size(1.2);
  }

  h4 {
    @include relative-font-size(1.1);
  }
}
/* vim:set sts=2 sw=2 expandtab: */
